//
//  Default.xcconfig
//  Pablogithub
//
//  Created by Pablo Roca on 31/12/2018.
//  Copyright © 2018 PR2Studio. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
DEFAULT_OTHER_SWIFT_FLAGS = -Xfrontend -warn-long-function-bodies=300 -Xfrontend -warn-long-expression-type-checking=300
